.Main{
width: 100vw;
height: 100vh;
background-color: aqua;
}
body{
margin: 0;
padding: 0;
}
.Main{
    
    display:flex ;
    flex-direction: column;
}
.main-div{
    margin-top: 0%;
    
}
@media (min-width: 768px) and (max-width: 1024px) {
    .Main{
        display: block;
    }
    /* .main-div{
    display: flex;
    flex-direction: column-reverse;
    
    } */
}
