.sidebar{
 height:105%;
 width: 250px;
 background-color: #363556;
}
ul{
    margin-top: 0%;
}
.sidebarList{
    
    padding:70% 10% 50% 20%;
}
.menu{
    font-size: 20px;
    color: white;
    width: 100%;
    height: 80px;
    list-style-type: none;
    display: flex;
    flex-direction: row;

}
img{
    width: 25px;
    height: 25px;
    margin-top: 2%;
    margin-right: 2%;

}
@media screen and (max-width:1200) {
    .sidebar{
        width: 200px;
    }
}